$text-color: #0B0404;
$text-color-secondary: #78716C;
$color-primary: #4a9a59b7;
$color-hover: #4a9a5933;
$color-border: #E7E5E4;
@mixin fz($px) {
    font-size: calc($px/16)*1rem;
}

.pagesCategory{
    h1{
        font-family: 'Prata',sans-serif;
        @include fz(48);
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;


    }
}